<div class="row shadow">
  <div class="col-sm-4 p-0">
    <div class="card">
      <div class="card-img-wrapper">
        <img *ngIf="property.Image" class="card-img-top" src="assets/images/{{property.Image}}.png">
        <img *ngIf="!property.Image" class="card-img-top" src="assets/images/house_default.png">
      </div>
      <div class="card-body">
        <h1 class="card-title">{{property.Name}}</h1>
        <div>
            <strong>{{property.BHK}} BHK {{property.PType}} @ ${{property.Price}}</strong>
        </div>
        <div>
           <strong>in {{property.City}}</strong>
        </div> <hr>
        <div>
            <strong>Build Area: </strong>
            {{property.BuiltArea}} Sqft
        </div>

        <div>
            <strong>Carpet Area: </strong>
            {{property.CarpetArea}} Sqft
        </div>
        <div>
            <strong>Furnishing Type: </strong>
            {{property.FType}}
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">Like</button>
          <button class="btn btn-success">Message</button>
        </div>
      </div>
  </div>
  </div>
  <div class="col-sm-8 p-0">
    <div class="tab-panel p-3">
      <tabset class="member-tabset">
        <tab heading="Overview">
          <h1>Overview</h1>
          <div class="row">
              <div class="col-sm-6">
                  <div class="heading">
                      <strong>Project Name</strong>
                      <p>{{property.Name}}</p>
                  </div>

                  <div class="heading">
                      <strong>Floor Number</strong>
                      <p>{{property.FloorNo}}</p>
                  </div>

                  <div class="heading">
                      <strong>Age of Property</strong>
                      <p>{{property.AOP}}</p>
                  </div>

                  <div class="heading">
                      <strong>Posession</strong>
                      <p>{{property.Possession}}</p>
                  </div>
              </div>

              <div class="col-sm-6">
                  <div class="heading">
                      <strong>Main Entrance</strong>
                      <p>{{property.MainEntrance}}</p>
                  </div>

                  <div class="heading">
                      <strong>Gated Community</strong>
                      <p>{{property.Gated}}</p>
                  </div>

                  <div class="heading">
                      <strong>Security Deposit</strong>
                      <p>{{property.Security}}</p>
                  </div>
                  <div class="heading">
                      <strong>Maintenance</strong>
                      <p>{{property.Maintenance}}</p>
                  </div>
              </div>
              <div class="col-sm-12">
                  <div class="heading">
                      <strong>About Property</strong>
                      <p>{{property.Description}}</p>
                  </div>
              </div>
            </div>
        </tab>
        <tab heading="Address">
          <div class="col-sm-12">
            <h1>Address</h1>
            <div class="heading">
                <strong>{{property.Address}}</strong><br/>
                <strong>{{property.Address2}}</strong><br/>
                <strong>{{property.City}}</strong>
            </div>
        </div>

        </tab>
        <tab heading="Photos">
          <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
        </tab>
        <tab heading="Contact">
          <h1>Contact Detail</h1>
          This should be restricted area and only registered user should be able to see seller contact details
        </tab>
      </tabset>
    </div>
  </div>
</div>
