.img-wrapper{
  overflow: hidden;
  position: relative;
}

.card:hover img{
  transform: scale(1.2,1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 250px;
  opacity: .7;
}

.card img{
  transform: scale(1,1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 250px
}

.member-icons{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}
