<label>Filter City: &nbsp; </label>
<input [(ngModel)]='City'>
<button type="button" (click)="onCityFilter()">Search</button>
<button type="button" (click)="onCityFilterClear()">Clear</button> &nbsp;

<label>Sort by &nbsp;</label>
<select [(ngModel)] = 'SortbyParam'>
  <option value="City">City</option>
  <option value="Price">Price</option>
</select>
<button type="button" (click) = "onSortDirection()">
  <i *ngIf="SortDirection==='asc'" class="fas fa-sort-alpha-down"></i>
  <i *ngIf="SortDirection==='desc'" class="fas fa-sort-alpha-up"></i>
</button>

<div class="row">
  <div *ngFor="let property of properties|filter:SearchCity:'City'|sort:[SortbyParam,SortDirection]"
  class="col-sm-4">
    <div class="shadow-lg p-3 mb-4">
        <app-property-card [property]="property"></app-property-card>
    </div>
</div>
</div>

